.kid-picture {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

body{margin-top:20px;
  background:#F5F5F5;
}
/* Kid List */
.kid-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.kid-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99; }
.kid-list:hover a.kid-list-favourite {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1); }

.kid-list .kid-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none; }
.kid-list .kid-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover; }

.kid-list-title {
  margin-bottom: 5px; }

.kid-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px; }
.kid-list-details ul li {
  margin: 5px 10px 5px 0px;
  font-size: 13px; }

.kid-list .kid-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px; }
.kid-list .kid-list-favourite-time span {
  display: block;
  margin: 0 auto; }
.kid-list .kid-list-favourite-time .kid-list-favourite {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.kid-list .kid-list-favourite-time .kid-list-favourite:hover {
  background: #ffffff;
  color: #e74c3c; }

.kid-banner .kid-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit; }


/* kid Grid */
.kid-list.kid-grid {
  padding: 0px;
  display: block;
  border-bottom: none;
}

.kid-grid .kid-list-image {
  text-align: center;
  margin-right: 0px;
}
.kid-grid .kid-list-image img {
  height: 300px;
  width: 100%;
}

.kid-grid .kid-list-details {
  text-align: center;
  padding: 20px 20px 0px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.kid-grid .kid-list-details ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kid-grid .kid-list-details ul li {
  margin: 2px 5px;
}

.kid-grid .kid-list-favourite-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  padding: 10px 0;
}
.kid-grid .kid-list-favourite-time a {
  margin-bottom: 0;
  margin-left: auto;
}
.kid-grid .kid-list-favourite-time span {
  display: inline-block;
  margin: 0;
  -ms-flex-item-align: center;
  align-self: center;
}

.kid-list.kid-grid .kid-list-favourite-time .kid-list-favourite {
  margin-bottom: 0px;
}

.owl-carousel .kid-list.kid-grid {
  margin-bottom: 20px;
}
