<ngx-spinner name="AdminGiversSpinner"
             bdColor="rgba(164, 164, 164, 0.45)"
             [fullScreen]="true">
  <div style="background-color: white;border-color:black; border-radius: 5px; border-width: 2px;">
    <img style="height: calc(10vh);width: calc(10vh);" src='assets/spinner.gif' />
    <p style="text-align: center;"> Cargando... </p>
  </div>
</ngx-spinner>

<div class="margin">
  <h1>Padrinos</h1>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-danger button-margin" (click)="clickBack()">Volver atras</button>
    </div>
    <div class="col-7">
      <form>
        <div class="form-group form-inline">
          Buscar: <input class="form-control ml-2" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filter"/>
          <button type="button" class="btn btn-info button-margin" (click)="search()">Buscar</button>
          <button type="button" class="btn btn-info button-margin" (click)="resetSearch()">Reiniciar búsqueda</button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="presentGiverId" (sort)="onSort($event)">#</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">E-mail</th>
      <th scope="col">Carta</th>
      <th scope="col" sortable="paymentMethod" (sort)="onSort($event)">Metodo de pago</th>
      <th scope="col" sortable="kidNumber" (sort)="onSort($event)">Número de carta</th>
      <th scope="col" sortable="kidName" (sort)="onSort($event)">Apadrinado</th>
      <th scope="col" sortable="kidArea" (sort)="onSort($event)">Barrio</th>
      <th scope="col" sortable="kidArea" (sort)="onSort($event)">Regalo</th>
      <th scope="col" sortable="kidArea" (sort)="onSort($event)">Monto</th>
      <th scope="col" sortable="paymentMade" (sort)="onSort($event)">Pago completado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let giver of FilteredGivers; index as i">
      <th scope="row">{{giver.presentGiverId}}</th>
      <td style="font-size:smaller;">{{giver.name}}</td>
      <td style="font-size:smaller;">{{giver.contactPhone}}</td>
      <td style="font-size:smaller;">{{giver.contactEmail}}</td>
      <td style="font-size:smaller;"><button type="button" class="btn btn-secondary" (click)="showLetter(content, giver.letter)"><span style="font-size:smaller;">Ver carta</span></button></td>
      <td style="font-size:smaller;">{{giver.paymentMethod == 'EFECTIVO_TRANSFERENCIA' ? 'Efectivo/Transferencia' : giver.paymentMethod == 'MERCADOPAGO' ? 'Mercado pago' : 'REVISAR'}}</td>
      <td style="font-size:smaller;">{{giver.present?.kid?.number}}</td>
      <td style="font-size:smaller;">{{giver.present?.kid?.name}}</td>
      <td style="font-size:smaller;">{{giver.present?.kid?.area}}</td>
      <td style="font-size:smaller;">{{giver.present?.name}}</td>
      <td style="font-size:smaller;">{{giver.present?.cost}}</td>
      <td style="font-size:smaller;">
          <button *ngIf="giver.paymentMade == 1" type="button" class="btn btn-danger button-margin" (click)="unsetPayment(giver)"><span style="font-size:smaller;">Desmarcar el pago</span></button>
        <button *ngIf="giver.paymentMade == 0" type="button" class="btn btn-success button-margin" (click)="setPayment(giver)"><span style="font-size:smaller;">Marcar el pago</span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Carta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> {{selectedLetter}} </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
