<ngx-spinner name="KidDetailsSpinner"
             bdColor="rgba(164, 164, 164, 0.45)"
             [fullScreen]="true">
  <div style="background-color: white;border-color:black; border-radius: 5px; border-width: 2px;">
    <img style="height: calc(10vh);width: calc(10vh);" src='assets/spinner.gif' />
    <p style="text-align: center;"> Cargando... </p>
  </div>
</ngx-spinner>

<div class="top-margin container">
  <div class="row">
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-danger button-margin" (click)="clickBack()"> < Volver atras</button>
      <img style="width: 100%" src="{{Kid.pictureUrl}}"/>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>{{Kid.name}}</h1>
          </div>
        </div>
        <div class="row">
          <!--
          <div class="col-sm-4">
            <b>Edad:</b> {{Kid.age}}
          </div>
          -->
          <div class="col-12">
            <b>Barrio:</b> {{Kid.area}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <b>Regalo:</b> {{Kid.present.name}}
          </div>
          <div class="col-6">
            <b>Valor del regalo:</b> $ {{Kid.present.cost}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Este regalo se va a comprar en <i><b>{{Kid.present.shopName}}</b></i>
          </div>
        </div>
      </div>
      <!-- Form -->
      <div class="form-container">
        <!-- Full Name -->
        <div class="form-group">
          <label for="inputFullName"><b>Nombre y apellido</b></label>
          <input (change)="updateButtonEnabling()" type="text" class="form-control" id="inputFullName"
                 [(ngModel)]="presentGiver.name">
        </div>
        <div class="row">
          <!-- E-mail -->
          <div class="col-6">
            <div class="form-group">
              <label for="inputEmail"><b>Correo electronico</b></label>
              <input (change)="updateButtonEnabling()" type="email" class="form-control" id="inputEmail"
                     [(ngModel)]="presentGiver.contactEmail">
            </div>
          </div>
          <!-- Phone -->
          <div class="col-6">
            <div class="form-group">
              <label for="inputPhoneNumber"><b>Numero de telefono</b></label>
              <input (change)="updateButtonEnabling()" type="text" class="form-control" id="inputPhoneNumber"
                     [(ngModel)]="presentGiver.contactPhone">
            </div>
          </div>
        </div>
        <!-- Message -->
        <div class="form-group">
          <label for="inputLetter"><b>Mensaje para mi ahijado/a</b></label>
          <textarea (change)="updateButtonEnabling()" class="form-control" id="inputLetter" rows="5"
                    [(ngModel)]="presentGiver.letter"></textarea>
        </div>
        <!-- How to donate -->
        <div class="form-check">
          <input class="form-check-input" (click)="optionSelected(1)"
                 [checked]="mercadoPagoSelected" type="radio"
                 name="mercadoPago" id="mercadoPagoRadio" value="1" checked>
          <label class="form-check-label" for="mercadoPagoRadio">
            Mercado Pago
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" (click)="optionSelected(2)"
                 [checked]="cashWireSelected" type="radio"
                 name="cashWire" id="cashWireTransferRadio" value="2" checked>
          <label class="form-check-label" for="cashWireTransferRadio">
            Efectivo o transferencia bancaria
          </label>
        </div>

        <div class="form-group" *ngIf="mercadoPagoSelected">
          <label>
            <b>Link de pago</b>
          </label>
          <br/>
          <ng-container *ngIf="Kid.present.cost == 1000">
            <a href="https://mpago.la/2SBx78h"><img style="max-width: 400px;width:100%;" src="assets/mercado-pago.jpg"/></a>
          </ng-container>
          <ng-container *ngIf="Kid.present.cost == 1500">
            <a href="https://mpago.la/2jMCfUY"><img style="max-width: 400px;width:100%;" src="assets/mercado-pago.jpg"/></a>
          </ng-container>
        </div>
        <div class="form-group" *ngIf="cashWireSelected">
          <label><b>Datos de la cuenta para transferencia:</b></label><br>
           - CUIT: 30715425560<br>
           - TIPO DE CUENTA: Caja de Ahorro<br>
           - NRO DE CUENTA: 001003760747<br>
           - CBU: 3860001003000037607473<br>
           - ALIAS: sumadevoluntades<br>
        </div>

        <div class="button-margin">
          <button type="button" class="btn btn-primary" [disabled]="submitButtonDisabled" (click)="submitForm(content, error315Modal)">Quiero apadrinar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Carta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> ¡GRACIAS POR SUMARTE A ESCRIBIR LA HISTORIA MAS LINDA DE NAVIDAD!

      ¡Último paso! Para completar el registro envíanos al 3434284676 o 3434714802 el comprobante de pago y nuestros ayudantes de Papá Noel se encargan de ir a los locales a comprar los regalos.

      AVISO IMPORTANTE: De ser necesario, solo nos vamos a contactar con vos para pedir información de alguno de estos dos números que son los únicos autorizados para la campaña. </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #error315Modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="315-modal-basic-title">Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Ese chico ya fue apadrinado! Al hacer click en 'Cerrar' volveras a la pantalla anterior para elegir a otro a quien apadrinar! </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
